<!DOCTYPE html>
<html ng-app="shoppingapp">
<head>
    <meta charset="UTF-8">
    <title>shop</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
            integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>




</head>
<body ng-controller="MainCtrl as ctrl">

<h1>Shopping list</h1>

<!--FOR EACH json item IN THE items[array] -->
<div class="panel panel-default" ng-repeat="item in ctrl.items">
    <div class="panel-heading">
        <h3 class="panel-title">Item name: <span ng-bind="item.name"></span></h3>

    </div>
    <div class="panel-body">
        <p>Product id: <span ng-bind="item.id"></span></p>
        <p>Product brand: <span ng-bind="item.brand"></span></p>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="javascripts/index.js"></script>
</body>
</html>